.adm1
{
	
	background-color:yellow;
	color:red;
	margin-left:50px;
	margin-right:50px;
	line-height:120px;
	
	
	
}
.adm2
{
	
	background-color:#F5B7B1;
    color:red;
	margin-left:50px;
	margin-right:50px;
	line-height:120px;
		
	
}
